@page "/Edit"
@using Note_Taking_App.Models
@using Microsoft.EntityFrameworkCore
@inject Note_Taking_App.Data.TableContext TableContext
@inject NavigationManager NavigationManager
@inject Note_Taking_App.Services.CurrentNot currentnote



<h3>Edit</h3>








@code {

}
